@use "@angular/material" as mat;

:root {
  @include mat.button-overrides(
    (
      filled-container-shape: "6px",
      outlined-container-shape: "6px",
    )
  );
  @include mat.badge-overrides(
    (
      background-color: blue,
    )
  );
}

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure the app takes full height */
html,
body {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Custom utility classes */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}
